--extra-index-url https://download.pytorch.org/whl/cu121
art
vllm==0.4.2
numpy
torch
datasets
torchaudio
accelerate
torchvision
scikit-learn
transformers
python-dotenv
huggingface_hub
transformers==4.40.2